# List of ignored files with git commit.

#Latex temporary files

*.aux
*.log
*.gz
*.toc
*.dvi
*.bbl
*.blg
*.out
report.ps

# pdf files

dummy.pdf
report.pdf
pitch.pdf
report/images/*.pdf
*.pdf

#Emacs temporary files

*~
\#*\#

#Java compiled files

*.class

#Mac OS X folder settings

.DS_Store

#Miscelleneous files
*.swp
